.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!.vscode/cmake-kits.json

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

# CMake Build Folder
build/*